.Bush-Home {
  display: grid;
  background-color: white;
  border: 1px solid black;
  margin: 0 5vw;
  padding: 10px;
}

.offers {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 10px;
}

.offers > div {
  width: 100%;
}

.Bush-Home > .offers > .suggestions {
  display: grid;
  gap: 10px;
}

.Bush-Home > .offers > .suggestions > div {
  height: 120px;
  display: grid;
  justify-items: center;
  align-items: center;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
}
