.DiceSimulator {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 68, 3);
}

.DiceSimulator > main {
  display: grid;
  gap: 5px;
  width: 50vw;
  height: 90%;
  border-radius: 45px;
  padding: 1rem;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 2fr 0.5fr 4fr;
  color: orange;
  background-color: rgb(78, 27, 27);
}

.DiceSimulator > main .selection > div {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.dice__selector > div > select {
  width: 45px;
}

.dice__selector > div > select > option {
  text-align: baseline;
}

.DiceSimulator .dice {
  padding: 1vh 2vw;
  color: rgb(105, 68, 0);
  background-color: rgb(174, 174, 174, 0);
  cursor: pointer;
  max-width: 100%;
}

.DiceSimulator .dice:active {
  background-color: green;
}

.DiceSimulator .diceAnim {
  animation: dice_dance 0.5s forwards;
}

@keyframes dice_dance {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.DiceSimulator .dice img {
  width: 50px;
}

.btn__dice:active {
  width: 33%;
  height: 80%;
}

.number {
  padding: 1vh 1vw;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history {
  display: grid;
  align-items: center;
  border-radius: 25px;
  padding: 5px;
  width: 80%;
  height: 80%;
}

.history button {
  width: 10%;
  justify-self: center;
  border-radius: 25px;
  border: none;
}

.history button img {
  width: 35px;
  padding: 5px;
}

.history > h4 {
  text-align: center;
  margin: 5px;
  text-decoration: underline;
}

.last-numbers-generated {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.last-numbers-generated > span {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

@media (max-height: 500px) {
  .DiceSimulator main {
    width: 70%;
    grid-template-rows: 1fr 1fr 0.5fr 4fr;
    padding: 0;
  }
  .last-numbers-generated {
    grid-template-columns: repeat(15, 1fr);
  }
}

@media (max-height: 400px) {
  .DiceSimulator {
    height: 88vh;
  }
}

@media (max-height: 350px) {
  .DiceSimulator {
    height: 85vh;
  }
  .DiceSimulator main {
    width: 90%;
    padding: 0;
  }
}

@media (max-height: 250px) {
  .DiceSimulator {
    height: 80vh;
  }
}

@media (max-width: 700px) {
  .DiceSimulator main {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .DiceSimulator main {
    width: 80%;
  }

  .history {
    width: 90%;
    height: 80%;
  }
}
